{{.Greetings}}, {{.FirstName}}!

I am {{.BotName}} 🤖, your _Policy Compliance Pal Who's Fun To Be With©_. My job is to keep {{.Company}} conformant to the compliance frameworks that our customers require of us, such as SOC-2 and ISO 27001. Based on my records, I need your help with:

{{ range .InterpretedNeeds}}• {{ . }}
{{ end }}
These items will need to be refreshed annually. Thank you for keeping {{.Company}} 🔥! If you have questions, you can find my creators in {{.HelpChannel}}.
