{{.Greetings}}, {{.FirstName}}!

I am {{.BotName}} 🤖, your _Policy Compliance Pal Who's Fun To Be With©_

My job is keeping {{.Company}} from spectacularly failing the compliance frameworks we track through Secureframe. Based on my records, I need your help with the following:

{{ range .InterpretedNeeds}}✅ {{ . }}
{{ end }}
Thank you for keeping {{.Company}} 🔥! If you have any questions, you can find my creators in {{.HelpChannel}}.
